{{ template "partials/header.html" . }}
<body lang="en" itemscope itemtype="http://schema.org/Article">

  <div id="topbar">
    <div class="wrapper">
      <header>
        {{ template "partials/sidebar.html" . }}

        {{ $baseurl := .Site.BaseURL }}
      </header>
    </div>
  </div>

<div class="wrapper">

<div class="units-row">

<div class="unit-50">
<h2>404: Page Not Found</h2>
<p class="big">
	There is no page here at the address you requested. Perhaps try a search to find what you are looking for?
</p>
					<form method="get" action="http://duckduckgo.com/">
				<input type="search" name="q" maxlength="255" placeholder="Search kbkaylan.net">
			<input type="hidden" name="sites" value="kbkaylan.net"/>
			   <input type="submit" value="DuckDuckGo Search" style="visibility: hidden;" /></form>
</div>
</div>
</div>

<hr class="separator">

{{ partial "whatisthis.html" . }}

{{ partial "footer.html" . }}

</body>
</html>
